In [4]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame([[1,4,2], [2,3,5], [7,4,5]])
data

   0  1  2
0  1  4  2
1  2  3  5
2  7  4  5

In [3]:
print(data.sum()) #sum by default is adding the rows

0    10
1    11
2    12
dtype: int64

In [4]:
print(data.sum(axis=1)) #axis=1 ,adding the column elements

0     7
1    10
2    16
dtype: int64

In [7]:
data.sum(axis=1) #axis=1 ,adding the column elements

0     7
1    10
2    16
dtype: int64

In [8]:
print(data.max(axis=0)) # print maximum of eaxh column is finding maximum across rows

0    7
1    4
2    5
dtype: int64

In [9]:
print(data.max(axis=1)) # print maximum of eaxh row is finding maximum across columns

0    4
1    5
2    7
dtype: int64

In [10]:
new_df=pd.DataFrame(data.values,columns= ["A", "B", "C"], index= ["a", "b", "c"])
print(new_df)

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

In [11]:
print(new_df.sum()) # sumby default is adding the rows

A    10
B    11
C    12
dtype: int64

In [12]:
print(new_df.sum(axis=1)) # axis=1,adding the column elements

a     7
b    10
c    16
dtype: int64

In [13]:
print(new_df.max(axis=0)) # prints maximum of each column i.e. finding maximum across each rows
print(new_df.max(axis=1)) # prints maximum of each row i.e. finding maximum across each column

A    7
B    4
C    5
dtype: int64
a    4
b    5
c    7
dtype: int64

In [8]:
data = pd.DataFrame([[1,4,2], [2,3,5], [7,4,5]])
data

   0  1  2
0  1  4  2
1  2  3  5
2  7  4  5

In [9]:
print(data)
new_df=pd.DataFrame(data.values,columns= ["A", "B", "C"], index= ["a", "b", "c"])
print(new_df)

   0  1  2
0  1  4  2
1  2  3  5
2  7  4  5
   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

In [10]:
new_df=pd.DataFrame(data.values,columns= ["A", "B", "C"], index= ["a", "b", "c"])
print(new_df)

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

In [15]:
print(new_df)
print("\n", new_df.sort_values(by = "B", axis=0)) #sort a column

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

    A  B  C
b  2  3  5
a  1  4  2
c  7  4  5

In [14]:
print(new_df.max(axis=0)) # prints maximum of each column i.e. finding maximum across each rows
print(new_df.max(axis=1)) # prints maximum of each row i.e. finding maximum across each column

A    7
B    4
C    5
dtype: int64
a    4
b    5
c    7
dtype: int64

In [15]:
print(new_df)
print("\n", new_df.sort_values(by = "C", axis=1)) #sort a row

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

KeyError: 'C'

In [11]:
print(new_df)
print("\n", new_df.sort_values(by = "C", axis=0)) #sort a row

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

    A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

In [13]:
print(new_df)
#print("\n", new_df.sort_values(by = "B", axis=0)) #sort a row
print("\n", new_df.sort_values(by = "C", axis=1)) #sort a row

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5

KeyError: 'C'

In [17]:
# drop
print(new_df)
print(new_df.drop(['a', 'b'],axis=0)) #axis=0,row deletion using row label
print(new_df.drop(['B'],axis=1)) #axis=1,column deletion
# print(new_df)

   A  B  C
a  1  4  2
b  2  3  5
c  7  4  5
   A  B  C
c  7  4  5
   A  C
a  1  2
b  2  5
c  7  5

In [18]:
## Visualizing a DataFrames
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
animals_data
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [19]:
print("Mean of the Dataframe is: \n",animals_data.mean()) #mean of values in columns containg numeric data

Mean of the Dataframe is:
 Age       3.4375
Visits    1.9000
dtype: float64

In [24]:
print("\n Mean of 'Age' is: ",animals_data[['Age']].mean())

 Mean of 'Age' is:  Age    3.4375
dtype: float64

In [25]:
print("\n Total visits :",animals_data[['Visits']].sum())

 Total visits : Visits    19
dtype: int64

In [22]:
print("\n Sum of visits :",animals_data[['Visits']].sum())

 Sum of visits : Visits    19
dtype: int64

In [23]:
print("\n Max visits: ",animals_data[['Visits']].max())

Max visits:  Visits    3
dtype: int64

In [26]:
print("\n Index of Max visits: ",animals_data[['Visits']].idxmax()) # for what index is maximum

 Index of Max visits:  Visits    b
dtype: object

In [27]:
print("\n Index of Min visits: ",animals_data[['Visits']].idxmin())

 Index of Min visits:  Visits    a
dtype: object

In [28]:
print("\nSum: \n",animals_data.sum()) #for strings sum is string concatenation

Sum:
 Animals     catcatturtledogdogcatturtlecatdogdog
Age                                         27.5
Visits                                        19
Priority                              yynynnnynn
dtype: object

In [29]:
print("\n Index of Min visits: ",animals_data[['Visits']].idxmin())

 Index of Min visits:  Visits    a
dtype: object

In [30]:
# Handling Missing Values
print(animals_data.info())
print(animals_data)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Animals   10 non-null     object
 1   Age       8 non-null      float64
 2   Visits    10 non-null     int64
 3   Priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [32]:
# Handling Missing Values
print(animals_data.info())
animals_data

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Animals   10 non-null     object
 1   Age       8 non-null      float64
 2   Visits    10 non-null     int64
 3   Priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [36]:
# Difference between None and np.nan
import numpy as np
arr1 = np.array([1,None,3,4]) 
print(arr1,arr1.dtype)
print(arr1.mean())

[1 None 3 4] object

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [37]:
#Trouble with missing data
#Why we need to drop missing values
import numpy as np
arr2 = np.array([1, np.nan, 3,4]) #np.nan is a float type
print(arr2, arr2.dtype)
print(arr2.sum()) #so np.nan is handled by numpy but not None
print(arr2.mean())

[ 1. nan  3.  4.] float64
nan
nan

In [38]:
#print(pd.Series([1, np.nan, 2, None]))
ser_null = pd.Series([1,np.nan,2,None])
print('\n',ser_null.sum())
print('\n', ser_null.mean())

 3.0

 1.5

In [40]:
# Dataframe aggregation methods ignore nan values and find the sum
data = pd.DataFrame([[1, np.nan, 2],[2, 3, 5],[np.nan, 4, 6]])
print(data)
print(data.sum()) #sum by default is column sum axis =0
print(data.sum(axis=1)) #sum across columns
print(data.sum(axis=0)) #sum across columns

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
0     3.0
1     7.0
2    13.0
dtype: float64
0     3.0
1    10.0
2    10.0
dtype: float64
0     3.0
1     7.0
2    13.0
dtype: float64

* Pandas handles np.nun by ignoring these values in the statistical calculations

In [42]:
#Detecting and dropping Null Values
#print(pd.isnull(animals_data)) #isnull() function in pandas library
#print(animals_data.isnull()) #isnull() in DataFrame object
#Observe that Age has two missing values
#print(pd.notnull(animals_data))
print(data)
data = pd.DataFrame([[1, np.nan, 2],[2, 3, 5], [np.nan, 4, 6]])
print('\n data.isnull(): \n',data.isnull())
print('\n data.notnull(): \n',data.notnull())
#data[data.notnull()]

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

 data.isnull():
        0      1      2
0  False   True  False
1  False  False  False
2   True  False  False

 data.notnull():
        0      1     2
0   True  False  True
1   True   True  True
2  False   True  True

In [43]:
#Detecting and dropping Null Values
#print(pd.isnull(animals_data)) #isnull() function in pandas library
#print(animals_data.isnull()) #isnull() in DataFrame object
#Observe that Age has two missing values
#print(pd.notnull(animals_data))
print(data)
data = pd.DataFrame([[1, np.nan, 2],[2, 3, 5], [np.nan, 4, 6]])
print('\n data.isnull(): \n',data.isnull().sum())
#print('\n data.notnull(): \n',data.notnull())
#data[data.notnull()]

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

 data.isnull():
 0    1
1    1
2    0
dtype: int64

In [44]:
# dropping null values
print(data)
print(data.dropna()) # drop rows and columns with null values

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
1  2.0  3.0  5

In [18]:
data=pd.DataFrame([[1,np.nan,2], [2,np.nan,5], [np.nan,4,6]])
print(data)
#data.dropna(axis='rows', thresh=1) # axis=0 means drop rows which have missing values
data.dropna(axis='columns', thresh=1) # axis=0 means drop rows which have missing values
#thresh = 2 means 2 Nansand beyond is dropped

     0    1  2
0  1.0  NaN  2
1  2.0  NaN  5
2  NaN  4.0  6

     0    1  2
0  1.0  NaN  2
1  2.0  NaN  5
2  NaN  4.0  6

In [19]:
data=pd.DataFrame([[1,np.nan,2], [2,np.nan,5], [np.nan,4,6]])
print(data)
data.dropna(axis='rows', thresh=1) # axis=0 means drop rows which have missing values
#data.dropna(axis='columns', thresh=1) # axis=0 means drop rows which have missing values
#thresh = 2 means 2 Nansand beyond is dropped

     0    1  2
0  1.0  NaN  2
1  2.0  NaN  5
2  NaN  4.0  6

     0    1  2
0  1.0  NaN  2
1  2.0  NaN  5
2  NaN  4.0  6

In [48]:
data.dropna(axis='rows', thresh=2) # axis=0 means drop rows which have missing values
data.dropna(axis='columns') # axis=0 means drop rows which have missing values

   2
0  2
1  5
2  6

In [47]:
data.dropna(axis='rows', thresh=1)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [49]:
data = pd.DataFrame([[1, np.nan, 2],[2, 3, 5], [np.nan, 4, 6]])
print(data)
# data.dropna(axis='rows', thresh=1) # axis=0 means drop rows wich have more missing values
data.dropna(axis='columns', thresh=2) # axis=0 means drop rows wich have more missing values
# thresh = 2 means it needs 2 non null values to retain a column.
# thresh should be a large to have more non null values

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [50]:
data = pd.DataFrame([[1, np.nan, 2],[2, 3, 5], [np.nan, 4, 6]])
print(data)
# data.dropna(axis='rows', thresh=1)  # axis=0 means drop rows wich have more missing values
data.dropna(axis='columns', thresh=3) # axis=0 means drop rows wich have more missing values
# thresh should be a large to have more non null values

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

   2
0  2
1  5
2  6

In [52]:
data = pd.DataFrame([[1, np.nan, 2],[2, 3, 5], [np.nan, 4, 6]])
print(data)
# data.dropna(axis='rows', thresh=1) # axis=0 means drop rows wich have more missing values
data.dropna(axis='columns', thresh=4,inplace=True) # axis=0 means drop rows wich have more missing values
# thresh = 2 means it needs 2 non null values to retain a column.
# thresh should be a large to have more non null values

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [55]:
## Visualizing a DataFrames
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
animals_data
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [56]:
print(animals_data.dropna(axis='columns', thresh=2)) # if 2 non null value is there column is not dropped

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [57]:
print(animals_data.dropna(axis='columns', thresh=8)) # if 8 non null value is there column is not dropped

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [59]:
print(animals_data.dropna(axis='columns', thresh=9)) # if 9 non null value is there column is dropped

  Animals  Visits Priority
a     cat       1        y
b     cat       3        y
c  turtle       2        n
d     dog       3        y
e     dog       2        n
f     cat       3        n
g  turtle       1        n
h     cat       1        y
i     dog       2        n
j     dog       1        n

In [58]:
print(animals_data.dropna(axis='columns', thresh=9)) # if 9 non null value is there column is dropped

  Animals  Visits Priority
a     cat       1        y
b     cat       3        y
c  turtle       2        n
d     dog       3        y
e     dog       2        n
f     cat       3        n
g  turtle       1        n
h     cat       1        y
i     dog       2        n
j     dog       1        n

In [20]:
data = pd.DataFrame([[1, np.nan, 2],
 [2, 3, 5],
 [np.nan, 4, 6]])
print(data)
#print(data.fillna(0)) #we can fill with column mean or mode for categorical data
#print(data.fillna(method='ffill'))
print(data.fillna(method='bfill'))
print(data) # original data will not change, to change we need to set inplace = True
#find mean of each column and fill each individually

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [6]:
data = pd.DataFrame([[1, np.nan, 2],
 [2, 3, 5],
 [np.nan, 4, 6]])
print(data)
print(data.fillna(0)) #we can fill with column mean or mode for categorical data
print(data.fillna(method='ffill'))
#print(data.fillna(method='bfill'))
print(data) # original data will not change, to change we need to set inplace = True
#find mean of each column and fill each individually

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  2.0  4.0  6
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [7]:
data = pd.DataFrame([[1, np.nan, 2],
 [2, 3, 5],
 [np.nan, 4, 6]])
print(data)
print(data.fillna(0)) #we can fill with column mean or mode for categorical data
#print(data.fillna(method='ffill'))
print(data.fillna(method='bfill'))
print(data) # original data will not change, to change we need to set inplace = True
#find mean of each column and fill each individually

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6
     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [63]:
## Visualizing a DataFrames
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data['Age'.mean()])) 
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.0       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  0.0       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [7]:
## Visualizing a DataFrames
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
#print(animals_data.fillna(0))
#print(animals_notnull)
print("\n\n",animals_data.fillna(animals_data[['Age']].mean()))  
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n


   Animals     Age  Visits Priority
a     cat  2.5000       1        y
b     cat  3.0000       3        y
c  turtle  0.5000       2        n
d     dog  3.4375       3        y
e     dog  5.0000       2        n
f     cat  2.0000       3        n
g  turtle  4.5000       1        n
h     cat  3.4375       1        y
i     dog  7.0000       2        n
j     dog  3.0000       1        n

In [9]:
## Visualizing a DataFrames
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data[['Age']].mean()))  
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.0       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  0.0       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [66]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
#print(animals_data.fillna(0))
print("\n\n",animals_data.fillna(animals_data['Age'].mean()))  
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n


   Animals     Age  Visits Priority
a     cat  2.5000       1        y
b     cat  3.0000       3        y
c  turtle  0.5000       2        n
d     dog  3.4375       3        y
e     dog  5.0000       2        n
f     cat  2.0000       3        n
g  turtle  4.5000       1        n
h     cat  3.4375       1        y
i     dog  7.0000       2        n
j     dog  3.0000       1        n

In [ ]:
data = pd.DataFrame([[1, np.nan, 2],
 [2, 3, 5],
 [np.nan, 4, 6]])
print(data)
#print(data.fillna(0)) we can fill with column mean or mode for categorical
data
#print(data.fillna(method='ffill'))
print(data.fillna(method='bfill'))
print(data)
# original data will not change, to change we need to set inplace = True
#find mean of each column and fill each individually

In [23]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
print(animals_data.fillna(0))
#prin(animals_notnull)
print("\n\n",animals_data.fillna(animals_data['Age'].mean()))
#print(data.fillna(method='ffill')) # carry the previous data forward
print(data)
#print(data.fillna(method='bfill'))  # carry the following data backward
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.0       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  0.0       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n


   Animals     Age  Visits Priority
a     cat  2.5000       1        y
b     cat  3.0000       3        y
c  turtle  0.5000       2        n
d     dog  3.4375       3        y
e     dog  5.0000       2        n
f     cat  2.0000       3        n
g  turtle  4.5000       1        n
h     cat  3.4375       1        y
i     dog  7.0000       2        n
j     dog  3.0000       1        n
{'Animals': ['cat', 'cat', 'turtle', 'dog', 'dog', 'cat', 'turtle', 'cat', 'dog', 'dog'], 'Age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3], 'Visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'Priority': ['y', 'y', 'n', 'y', 'n', 'n', 'n', 'y', 'n', 'n']}

In [24]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
animals_notnull= animals_data.fillna(0)
print("\n\n", animals_data.fillna(0.8))
#print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data['Age'].mean()))
#print(data.fillna(method='ffill')) # carry the previous data forward
#print(data.fillna(method='bfill'))  # carry the following data backward
#print(data)
#print(animals_notnull)
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n


   Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.8       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  0.8       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [26]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
animals_notnull= animals_data.fillna(0)
print("\n\n", animals_data.fillna(0.8))
print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data['Age'].mean()))
#print(data.fillna(method='ffill')) # carry the previous data forward
#print(data.fillna(method='bfill'))  # carry the following data backward
#print(data)
#print(animals_notnull)
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n


   Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.8       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  0.8       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.0       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  0.0       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [48]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
#animals_notnull= animals_data.fillna(0)
#print("\n\n", animals_data.fillna(0.5))
#print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data['Age'].mean()))
print(animals_data.fillna(method='ffill')) # carry the previous data forward
#print(data.fillna(method='bfill'))  # carry the following data backward
print(animals_data)
#print(animals_notnull)
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  0.5       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  4.5       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [50]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
#animals_notnull= animals_data.fillna(0)
#print("\n\n", animals_data.fillna(0.5))
#print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data['Age'].mean()))
#print(animals_data.fillna(method='ffill')) # carry the previous data forward
print(animals_data.fillna(method='bfill'))  # carry the following data backward
print(animals_data)
#print(animals_notnull)
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  5.0       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  7.0       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n
  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [34]:
#First Create a DataFrame
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y',' ','n','n','  ','n','n']}
labels=['a','b','c','d','e','f','g','h','i','j']
animals_data=pd.DataFrame(data,index=labels)
print(animals_data)
print(animals_data['Priority'])
#print(animals_data.fillna(0))
#print(animals_notnull)
#print("\n\n",animals_data.fillna(animals_data['Age'].mean()))
#print(data.fillna(method='ffill')) # carry the previous data forward
#print(data.fillna(method='bfill'))  # carry the following data backward
#print(data)
#print(animals_notnull)
#observe the data type of each column

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1
i     dog  7.0       2        n
j     dog  3.0       1        n
a     y
b     y
c     n
d     y
e
f     n
g     n
h
i     n
j     n
Name: Priority, dtype: object

In [46]:
data = pd.DataFrame([[1,      np.nan, 2],    
                   [2,      3,      5],     
                   [np.nan, 4,      6]]) 
print(data)
#print(data.fillna(0))     we can fill with column mean or mode for categorical data
#print(data.fillna(method='ffill'))
print(data.fillna(method='bfill'))
print(data)          # original data will not change, to change we need to set inplace = True
#find mean of each column and fill each individually

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [78]:
animals_data.to_csv('animal.csv')

In [79]:
df_animal=pd.read_csv('animal.csv')
print(df_animal)
#df_animal.head(3)

  Unnamed: 0 Animals  Age  Visits Priority
0          a     cat  2.5       1        y
1          b     cat  3.0       3        y
2          c  turtle  0.5       2        n
3          d     dog  NaN       3        y
4          e     dog  5.0       2        n
5          f     cat  2.0       3        n
6          g  turtle  4.5       1        n
7          h     cat  NaN       1        y
8          i     dog  7.0       2        n
9          j     dog  3.0       1        n

In [81]:
df_animal=pd.read_csv('animal.csv')
#print(df_animal)
df_animal.head(3)

  Unnamed: 0 Animals  Age  Visits Priority
0          a     cat  2.5       1        y
1          b     cat  3.0       3        y
2          c  turtle  0.5       2        n

In [85]:
animals_data.to_excel('animals.xlsx',sheet_name='sheet1')
#animals_data.to_excel('animals.xlsx',sheet_name='sheet1')
df_animal2=pd.read_excel('animals.xlsx','sheet1', index_col=None)
df_animal2

  Unnamed: 0 Animals  Age  Visits Priority
0          a     cat  2.5       1        y
1          b     cat  3.0       3        y
2          c  turtle  0.5       2        n
3          d     dog  NaN       3        y
4          e     dog  5.0       2        n
5          f     cat  2.0       3        n
6          g  turtle  4.5       1        n
7          h     cat  NaN       1        y
8          i     dog  7.0       2        n
9          j     dog  3.0       1        n

In [36]:
animals_data.to_excel('animals.xlsx',sheet_name='sheet1')
#animals_data.to_excel('animals.xlsx',sheet_name='sheet1')
df_animal2=pd.read_excel('animals.xlsx','sheet1', index_col=None, na_values=['NA'])
df_animal2

  Unnamed: 0 Animals  Age  Visits Priority
0          a     cat  2.5       1        y
1          b     cat  3.0       3        y
2          c  turtle  0.5       2        n
3          d     dog  NaN       3        y
4          e     dog  5.0       2
5          f     cat  2.0       3        n
6          g  turtle  4.5       1        n
7          h     cat  NaN       1
8          i     dog  7.0       2        n
9          j     dog  3.0       1        n

In [91]:
# Series Concatenation
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series( ['D', 'E', 'F'], index=[4, 5, 6] ) #test with the same indser1
print(ser1)
print(ser2)
print("\n\n Concatenated Series\n", pd.concat([ser1,ser2])) # append ser2 below ser1
ser3=ser1.append(ser2)
ser3

1    A
2    B
3    C
dtype: object
4    D
5    E
6    F
dtype: object


 Concatenated Series
 1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [95]:
#DataFrame Concatenation
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C': ['cap', 'cat', 'car']},index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F':['fan', 'fog', 'fat']}, index =[ 2, 3, 6])
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0)) # axis =0 is stacking one below the other
#print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices
df1
#df2

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
2  NaN  NaN  NaN  dam  ear  fan
3  NaN  NaN  NaN  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car

In [37]:
#DataFrame Concatenation
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C': ['cap', 'cat', 'car']},index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F':['fan', 'fog', 'fat']}, index =[ 2, 3, 6])
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
#print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0)) # axis =0 is stacking one below the other
print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices
df1
#df2

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames along axis 1:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  dam  ear  fan
3  ant  bin  car  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car

In [38]:
#DataFrame Concatenation
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C': ['cap', 'cat', 'car']},index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F':['fan', 'fog', 'fat']}, index =[ 2, 3, 6])
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
#print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0)) # axis =0 is stacking one below the other
print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices
#df1
df2

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames along axis 1:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  dam  ear  fan
3  ant  bin  car  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

     D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat

In [96]:
#DataFrame Concatenation
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C': ['cap', 'cat', 'car']},index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F':['fan', 'fog', 'fat']}, index =[ 2, 3, 6])
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0)) # axis =0 is stacking one below the other
#print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices
#df1
df2

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
2  NaN  NaN  NaN  dam  ear  fan
3  NaN  NaN  NaN  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

     D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat

In [97]:
#DataFrame Concatenation
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C': ['cap', 'cat', 'car']},index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F':['fan', 'fog', 'fat']}, index =[ 2, 3, 6])
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=1)) # axis =1 is stacking one below the othe,common rows are takenr
#print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices
#df1
#df2

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  dam  ear  fan
3  ant  bin  car  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

In [99]:
df_concat = pd.concat([df1, df2])
df_concat = pd.concat([df1, df2], ignore_index = True)
print("Concatenation of dataframes while ignoring the index: \n", df_concat)

Concatenation of dataframes while ignoring the index:
      A    B    C    D    E    F
0  axe  bat  cap  NaN  NaN  NaN
1  art  bar  cat  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dam  ear  fan
4  NaN  NaN  NaN  den  eat  fog
5  NaN  NaN  NaN  dot  egg  fat

In [100]:
#DataFrame Concatenation
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C': ['cap', 'cat', 'car']},index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F':['fan', 'fog', 'fat']}, index =[ 2, 3, 6])
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0)) # axis =0 is stacking one below the other
#print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
2  NaN  NaN  NaN  dam  ear  fan
3  NaN  NaN  NaN  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

In [102]:
print(pd.concat([df1, df2]))
df_concat = pd.concat([df1, df2], ignore_index = True)
print("Concatenation of dataframes while ignoring the index: \n", df_concat)

     A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
2  NaN  NaN  NaN  dam  ear  fan
3  NaN  NaN  NaN  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat
Concatenation of dataframes while ignoring the index:
      A    B    C    D    E    F
0  axe  bat  cap  NaN  NaN  NaN
1  art  bar  cat  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dam  ear  fan
4  NaN  NaN  NaN  den  eat  fog
5  NaN  NaN  NaN  dot  egg  fat

In [23]:
df3= pd.DataFrame({'B' : ['ball','box', 'band'],  'C' : ['cat', 'calendar', 'cone'], 'G' : ['grain', 'grape', 'goat']},
                 index=[1,4,2])
df3

      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

In [112]:
print(df1)
print(df3)
print("\n Inner join\n", pd.concat([df1,df3],join = 'inner')) # intersection of columns
#print"\n Outer Join\n", pd.concat([df1,df3]),join = 'outer')) # union of columns
# print("\n Default Join\n", pd.concat([df1,df3]))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

 Inner join
       B         C
1   bat       cap
2   bar       cat
3   bin       car
1  ball       cat
4   box  calendar
2  band      cone

In [114]:
print(df1)
print(df3)
#print("\n Inner join\n", pd.concat([df1,df3],join = 'inner')) # intersection of columns
print("\n Outer Join\n", pd.concat([df1,df3],join = 'outer')) # union of columns
# print("\n Default Join\n", pd.concat([df1,df3]))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

 Outer Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

In [42]:
print(df1)
print(df3)
print("\n Inner join\n", pd.concat([df1,df3],join = 'inner')) # intersection of columns
print("\n Outer Join\n", pd.concat([df1,df3],join = 'outer')) # union of columns
print("\n Default Join\n", pd.concat([df1,df3]))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

 Inner join
       B         C
1   bat       cap
2   bar       cat
3   bin       car
1  ball       cat
4   box  calendar
2  band      cone

 Outer Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

 Default Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

In [44]:
print(df1)
df3= pd.DataFrame({'B' : ['ball','box', 'band'],  'C' : ['cat', 'calendar', 'cone'], 'G' : ['grain', 'grape', 'goat']},
                 index=[1,4,2])
print(df3)
#print("\n Inner join\n", pd.concat([df1,df3],axis=1,join = 'inner')) # intersection of columns
print("\n Outer Join\n", pd.concat([df1,df3],join = 'outer')) # union of columns
print("\n Default Join\n", pd.concat([df1,df3]))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

 Outer Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

 Default Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

In [43]:
print(df1)
df3= pd.DataFrame({'B' : ['ball','box', 'band'],  'C' : ['cat', 'calendar', 'cone'], 'G' : ['grain', 'grape', 'goat']},
                 index=[1,4,2])
print(df3)
print("\n Inner join\n", pd.concat([df1,df3],axis=1,join = 'inner')) # intersection of columns
#print("\n Outer Join\n", pd.concat([df1,df3],join = 'outer')) # union of columns
print("\n Default Join\n", pd.concat([df1,df3]))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

 Inner join
      A    B    C     B     C      G
1  axe  bat  cap  ball   cat  grain
2  art  bar  cat  band  cone   goat

 Default Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

In [45]:
print(df1)
df3= pd.DataFrame({'B' : ['ball','box', 'band'],  'C' : ['cat', 'calendar', 'cone'], 'G' : ['grain', 'grape', 'goat']},
                 index=[1,4,2])
print(df3)
print("\n Inner join\n", pd.concat([df1,df3],axis=0,join = 'inner')) # intersection of columns
print("\n Outer Join\n", pd.concat([df1,df3],axis=0,join = 'outer')) # union of columns
print("\n Default Join\n", pd.concat([df1,df3]))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
      B         C      G
1  ball       cat  grain
4   box  calendar  grape
2  band      cone   goat

 Inner join
       B         C
1   bat       cap
2   bar       cat
3   bin       car
1  ball       cat
4   box  calendar
2  band      cone

 Outer Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

 Default Join
      A     B         C      G
1  axe   bat       cap    NaN
2  art   bar       cat    NaN
3  ant   bin       car    NaN
1  NaN  ball       cat  grain
4  NaN   box  calendar  grape
2  NaN  band      cone   goat

In [116]:
# Append (similar to concat but a dataframe method)
print(df1)
print(df2)
print(df1.append(df2)) # append is same as concat stocks dataframes one below another

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
     D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
     A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
2  NaN  NaN  NaN  dam  ear  fan
3  NaN  NaN  NaN  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

In [51]:
# Merge Operations
df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_fac = pd.DataFrame({'F_id' : [110,120,130,140,150 ],'F_name' : ['A', 'B', 'C', 'D', 'E'],'Branch': ['ECE','Mech', 'EEE', "IT", 'CS'] })
print("Student dataframe: \n", df_stud,'\nFaculty Dataframe :\n', df_fac)
df_merge = pd.merge(df_stud, df_fac)
print("Merged dataframe : \n ", df_merge)   #Merge on a common column
#works only if both dataframes have the specified column Default is inner
#print("Merged dataframe : \n ", pd.merge(df_stud, df_fac, on = 'Branch'))

Student dataframe:
    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   Mech
Faculty Dataframe :
    F_id F_name Branch
0   110      A    ECE
1   120      B   Mech
2   130      C    EEE
3   140      D     IT
4   150      E     CS
Merged dataframe :
     St_id Branch  F_id F_name
0    101     IT   140      D
1    102     CS   150      E
2    104     CS   150      E
3    103    ECE   110      A
4    105   Mech   120      B

In [52]:
df1 =pd. DataFrame({'key' :['b', 'b', 'a', 'c', 'a', 'a'], 'data1': range(6)}) #has multiple rows labelled a and b
df2 = pd. DataFrame({'key' :['a', 'b', 'd'], 'data2': range(3)})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to one merge situation
#No of rows will be 5X2 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))     # intersection of keys 
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))     # union of keys
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))     #  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # keys from right dataframe
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
DataFrame2 :
   key  data2
0   a      0
1   b      1
2   d      2

In [53]:
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a', 'b'], 'data1': range(7)})  #has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'a', 'b', 'd'], 'data2': range(5)})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to one merge situation
#No of rows in the dataframe = 7x4 for inner
#No of rows will be 5X2 
print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))     # intersection of keys 
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))     # union of keys
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))     #  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # keys from right dataframe
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
DataFrame2 :
   key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4
Inner Join:
    key  data1  data2
0    a      2      0
1    a      2      2
2    a      4      0
3    a      4      2
4    a      5      0
5    a      5      2
6    b      0      1
7    b      0      3
8    b      1      1
9    b      1      3
10   b      6      1
11   b      6      3

In [54]:
df1 =pd. DataFrame({'key' :['b', 'b', 'a', 'c', 'a', 'a'], 'data1': range(6)}) #has multiple rows labelled a and b
df2 = pd. DataFrame({'key' :['a', 'b', 'd'], 'data2': range(3)})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to one merge situation
#No of rows will be 5X2 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))     # intersection of keys 
print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))     # union of keys
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))     #  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # keys from right dataframe
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
DataFrame2 :
   key  data2
0   a      0
1   b      1
2   d      2
Outer Join:
   key  data1  data2
0   a    2.0    0.0
1   a    4.0    0.0
2   a    5.0    0.0
3   b    0.0    1.0
4   b    1.0    1.0
5   c    3.0    NaN
6   d    NaN    2.0

In [55]:
f1 =pd. DataFrame({'key' :['b', 'b', 'a', 'c', 'a', 'a'], 'data1': range(6)}) #has multiple rows labelled a and b
df2 = pd. DataFrame({'key' :['a', 'b', 'd'], 'data2': range(3)})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to one merge situation
#No of rows will be 5X2 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))     # intersection of keys 
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))     # union of keys
print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))     #  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # keys from right dataframe
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
DataFrame2 :
   key  data2
0   a      0
1   b      1
2   d      2
Left Join:
   key  data1  data2
0   a      2    0.0
1   a      4    0.0
2   a      5    0.0
3   b      0    1.0
4   b      1    1.0
5   c      3    NaN

In [56]:
f1 =pd. DataFrame({'key' :['b', 'b', 'a', 'c', 'a', 'a'], 'data1': range(6)}) #has multiple rows labelled a and b
df2 = pd. DataFrame({'key' :['a', 'b', 'd'], 'data2': range(3)})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to one merge situation
#No of rows will be 5X2 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))     # intersection of keys 
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))     # union of keys
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))     #  keys from left dataframe
print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # keys from right dataframe
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
DataFrame2 :
   key  data2
0   a      0
1   b      1
2   d      2
Right Join:
   key  data1  data2
0   a    2.0      0
1   a    4.0      0
2   a    5.0      0
3   b    0.0      1
4   b    1.0      1
5   d    NaN      2

In [57]:
series = pd.Series([2,3,4,5])
print(series[2])
series[2]=7.8
print(series[2])
print(series)

4
7
0    2
1    3
2    7
3    5
dtype: int64

In [59]:
dir( String)

NameError: name 'string' is not defined

In [60]:
dir(Series)

NameError: name 'Series' is not defined

In [5]:
### Difference beytween axis =0 and axis =1
#Dataframe aggregation methods ignore nan values and find the sum
data = pd.DataFrame([[1,  4,  2],    
                   [2,   3, 5],     
                   [7,  4,  6]])  
print(data)
print(data.sum())    #sum by default is column sum axis =0  columnwise sum
print(data.sum(axis=1))   #rowwise sum

   0  1  2
0  1  4  2
1  2  3  5
2  7  4  6
0    10
1    11
2    13
dtype: int64
0     7
1    10
2    17
dtype: int64